* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   margin: 54px 0 0;
   font-family: 'Roboto', sans-serif;
   color: #262626;
   font-weight: 400;
   font-size: 14px;
}

.navbar {
   width: 100%;
   display: flex;
   justify-content: center;
   height: 54px;
   border-bottom: 1px solid #dbdbdb;
   font-size: 22px;
   background-color: #fff;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
}

.navbar ion-icon,
.navbar img {
   cursor: pointer;
}

.navbar .container {
   width: 100%;
   max-width: 935px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.navbar .container > * {
   display: flex;
   align-items: center;
   height: 100%;
}

.navbar .logo img {
   width: 103px;
   position: relative;
   top: 3px;
}

.navbar .logo .separator {
   width: 1px;
   height: 22px;
   background-color: #dbdbdb;
   margin: 0 10px;
}

.navbar .search input {
   width: 215px;
   height: 28px;
   border-radius: 3px;
   background-color: #fafafa;
   border: 1px solid #dbdbdb;
   color: #979797;
   text-align: center;
}

.navbar .icons ion-icon {
   margin: 0 5px;
}

.navbar .mobile-icons {
   display: none;
}

.body {
   display: flex;
   justify-content: space-between;
   width: 935px;
   margin: 0 auto;
   margin-top: 88px;
}

.left {
   width: 100%;
   max-width: 614px;
}

.stories {
   display: flex;
   align-items: center;
   height: 118px;
   border-radius: 3px;
   border: 1px solid #dbdbdb;
   padding: 0 18px;
   overflow: hidden;
   position: relative;
   margin-bottom: 18px;
}

.story {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 14px 0;
   font-size: 12px;
   cursor: pointer;
   margin-right: 10px;
}

.story .image {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 66px;
   width: 66px;
   background-image: url('../assets/img/story-circle.svg');
}

.story .image img {
   width: 56px;
   height: 56px;
   border-radius: 50%;
}

.story .user {
   width: 66px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   height: 14px;
}

.stories .arrow {
   position: absolute;
   right: 10px;
   top: 45px;
   height: 32px;
   width: 32px;
   color: #fff;
   font-size: 28px;
   cursor: pointer;
}

.posts {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.post {
   border-radius: 3px;
   border: 1px solid #dbdbdb;
   display: flex;
   flex-direction: column;
}

.post .header {
   display: flex;
   justify-content: space-between;
   padding: 13px 16px;
   font-size: 14px;
   font-weight: 500;
}

.post .header .user,
.post .header .actions {
   display: flex;
   align-items: center;
   font-weight: 500;
}

.post .footer .actions .liked {
   color: #ff0000;
}

.scale-up-center {
   animation: scale-up-center 0.3s;
}

@keyframes scale-up-center {
   0% {
      transform: scale(0.2);
   }
   100% {
      transform: scale(1);
   }
}

.post .header img {
   width: 32px;
   height: 32px;
   margin-right: 10px;
}

.post .user,
.post .header img,
.post .footer img,
.post ion-icon,
.post strong,
.user ion-icon,
.user svg,
.user > img,
.content > img {
   cursor: pointer;
}

.post .content {
   position: relative;
}

.post .content img {
   width: 100%;
}

.post .content ion-icon {
   color: #ffffff;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   font-size: 180px;
}

.post .footer .actions {
   display: flex;
   justify-content: space-between;
   padding: 13px 16px;
   font-size: 24px;
}

.post .footer .actions div:first-child ion-icon {
   margin-right: 6px;
}

.post .footer .likes {
   display: flex;
   align-items: center;
   padding: 0 16px 13px;
   font-weight: 300;
}

.post .footer .likes img {
   width: 20px;
   height: 20px;
   margin-right: 10px;
}

.post:last-child {
   margin-bottom: 18px;
}

.sidebar {
   padding-top: 24px;
   position: sticky;
   top: 88px;
   width: 293px;
}

.sidebar > .user {
   display: flex;
   align-items: center;
}

.sidebar > .user img {
   width: 56px;
   height: 56px;
   border-radius: 50%;
}

.sidebar > .user .text {
   display: flex;
   margin-left: 14px;
   gap: 10px;
   align-items: center;
}

.sidebar > .user svg {
   font-size: 18px;
}

.sidebar > .user .text strong {
   font-weight: 500;
   color: #262626;
}

.sidebar .suggestions .title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0 14px;
}

.sidebar .suggestions .suggestion {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   height: 31px;
   margin-bottom: 16px;
}

.sidebar .suggestions .suggestion .user {
   display: flex;
}

.sidebar .suggestions img {
   width: 32px;
   height: 32px;
}

.sidebar .suggestions .follow {
   color: #139ef2;
   font-weight: 600;
}

.sidebar .suggestions .suggestion .user .text {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar .suggestions .suggestion .user .text :first-child {
   font-weight: 500;
}

.sidebar .suggestions .suggestion .user .text :last-child {
   color: #8e8e8e;
   font-weight: 400;
}

.links,
.copyright {
   font-size: 11px;
   color: #c7c7c7;
}

.links {
   margin-top: 40px;
   cursor: pointer;
}

.copyright {
   margin-top: 18px;
}

ion-icon {
   visibility: visible;
}

.user ion-icon {
   margin-left: 5px;
   padding-top: 5px;
   color: black;
}
